*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color: #5f9c7b;
  color: aliceblue;
  margin: 0 auto;
  min-height: 100vh;
  text-shadow: 0.1rem 0.2rem #474b4a;
  font-family: 'Lobster', cursive;
}

/*=========================
   header
=========================*/
header {
  position: fixed;
  width: 100%;
  z-index: 10001;
}

.top-container{
  display: flex;
  justify-content: space-between;
  background-color: #944d4d;
  height:10%;
  padding:0 5%;
}

.list-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

li{
  margin-right: 10%;
  list-style:none;
  font-size: 1.5rem;
}

a:hover{
  color: #51b881;
}

a:active{
  color: #15e676;
}

a {
  text-decoration: none;
  color: #fff;
}

h1{
  margin: 1%;
  text-shadow: 0.1rem 0.2rem #616060;
  color: #5ebb89;
  font-family: 'Lobster', cursive;
}

h2{
  text-shadow: 0.1rem 0.2rem #474747;
  color: #b64e4e;
  font-family: 'Lobster', cursive;
}

span{
  color: #51b881;
}

/*=========================
   middle-container
=========================*/
.middle-container{
  height: 50%;
  width: 100%;
  text-align: center;
  padding-top: 5rem;
}

.img-makima{
  width:10%;
  position: absolute;
  left: 45%;
  top: -70%;
}

.img-chain-l{
  width:50%;
  position: absolute;
  right: 50%;
  bottom: 35%;
  filter: invert(10%);
}

.img-chain-r{
  width:50%;
  position: absolute;
  left: 50%;
  bottom: 35%;
  filter: invert(10%);
} 

/*=========================
  box-section
=========================*/
.box-section{
  background-color: hsl(0, 0%, 97%, 0.3);
  border-radius: 1rem;
  margin: 5% 15%;
  padding: 2%;
  margin-top: 15%;
  height: 100%;
  color: #f8f8f8;
  position: relative;
  text-shadow: none;
}

.bg-img1{
  background-image: url(../img/bloody1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  background-position:  top 10%;
}

.bg-img2{
  background-image: url(../img/bloody2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:  right 20% bottom 30%;
  width: 100%;
}

/*=========================
   footer
=========================*/
footer{
  background-color: #b64e4e;
  height: 3rem;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
}

/*=========================
   Responsive design
=========================*/
@media screen and (max-width: 764px) {
.middle-container{
  height: 10rem;
 }
 
 .img-makima{
  width:25%;
  position: absolute;
  left: 40%;
  top: -15%;
}

 .img-chain-l{
  width:50%;
  position: absolute;
  right: 50%;
  top: 22%;
  filter: invert(10%);
}

.img-chain-r{
  width:50%;
  position: absolute;
  left: 50%;
  top: 22%;
  filter: invert(10%);
 } 
}